*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    line-height: 1.15;
}
body{
    background-color: rgb(138, 138, 138) !important;
}
.navbar{
    color: white;
}
.navbar-brand:hover{
    text-shadow: 10px 10px 30px white,
                -10px -10px 30px white;
}
@media (min-width:768px){
    .container {
        width: 750px;
    }
}
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
a{
    text-decoration: none;
    color: #CCCCFF !important;
}
a:hover{
    color: white !important;
}
.card-body .btn:hover{
    color: black !important;
}
ul{
    list-style: none;
}
.carousel-inner h1{
    text-shadow: 1px 1px #333;
}
.carousel-inner .carousel-caption{
    background: rgba(200, 200, 200, 0.3);
    border-radius: 7px;
}
.card-body h2{
    font-size: 40px;
}
code{
    font-size: 18px !important;
}
.myicon{
    height:30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 17px;
}
.fixedimg{
background-attachment: fixed;
background-size: cover;
height: 250px;
}
.fixedimg1{
    background-image: url(../images/5.jpg);
    min-height: 500px;
}
.card_1{
    min-height: 200px;
}
.fixedimg2{
    background-image: url(../images/images.jpg);
    min-height: 500px;
}
.btnbefo{
    position: relative;
    left: 30px;
    top: 10px;
}
.btnbefo::before{
position: absolute;
content: "";
border-width: 10px;
border-style:solid;
border-color: transparent transparent rgb(194, 194, 194) transparent;
top: 20px;
left: 13px;
display: none;
}
.btnbefo::after{
position: absolute;
content: " ";
height: 60px;
width: 80px;
background-color: rgb(194, 194, 194);
color: rgb(27, 27, 27);
top: 40px;
left: -15px;
border-radius: 5px;
display: none;
}
.btnbefo:active::before,
.btn:hover::before{
    display: block;

}
.btnbefo:hover::after{
    content: "copy to clipboard";
    display: block;
}
.btnbefo:active::after{
    content: "copied";
    display: block;
    height: 25px;
}
.navbar-brand{
    transition: 0.4s;
}
.dropdown-menu li a{
    text-shadow: 1px 1px 0px black;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a{
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
  